<%= form_with model: @comment , local: true do |form| %>

    <% if @comment.errors.any? %>
        <div id="error_explanation">
            <%= pluralize(@comment.errors.count, "error") %>
            prohibited this article from being saved:
        </div>
        <li>
            <%= @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </li>
    <% end %>

    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :comment %><br>
        <%= form.text_area :comment %>
    </p>

    <p>
        <%= form.submit %>
    </p>
    
<% end %>