<h1>Community Thoughts</h1>

<%= link_to 'New Comment', new_comment_path %>

<% @comments.each do |comment| %>
    <p>
        <strong><%= comment.name %></strong><br>
        <%= comment.comment %><br>
        <%= link_to 'View comment', comment_path(comment) %>
        <%= link_to 'Edit comment', edit_comment_path(comment) %>
    </p>
    
<% end %>