<%= render 'header' %>

<div class="container">
    <p>
        <strong>Name:</strong>
        <%= @comment.name %>
    </p>

    <p>
        <strong>Comment:</strong>
        <%= @comment.comment %>
    </p>


    <p>
        <strong>Img:</strong>
        <img src="<%= @comment.picture %>">
    </p>

    <%= link_to 'Edit', edit_comment_path %>
    <%= link_to 'Back', comments_path %>
</div>